coverage/
rdoc/
doc/
pkg/
.yardoc
.bundle
Gemfile.lock

# mac / IDE
.project
.settings
nbproject
.idea
.DS_Store

# other ruby-specific files
coverage/
pkg/
.yardoc
.bundle
Gemfile.lock
.autotest
rspec_results.html
spec/rspec_results.html